.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

div > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0px;
    font-size: 200px;

    border: 1px solid gray;
}